* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}


 .nav .left-side{
  float: left;
  margin-bottom: 10px;
  }

  .nav a{
    text-decoration: none;
    color: rgb(247, 234, 218);
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  } 

  .nav a:hover{
    text-decoration: none;
  }


  .loading-icon {
    margin-left: 35em;
    margin-top: 10em;
  }
